<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Panel <%= isAdmin ? ` | ${admin.username}` : '| Login'%></title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <% if (!isAdmin) { %>
            <h1>Login</h1>
            <form action="/admin/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
                <br>
                <button type="submit">Login</button>
                <%= error ? error : '' %>
            </form>
        <% } else { %>
            <p>Hi, <%= admin.username %> </p>
            <h2>Create Installation</h2>
            <form action="/installation/" method="POST" enctype="multipart/form-data">
                <label for="work_name">Work Name</label>
                <input type="text" name="work_name" id="work_name" required>
                <br>
                <label for="artist">Artist</label>
                <input type="text" name="artist" id="artist" required>
                <br>
                <label for="material_medium">Material/Medium</label>
                <input type="text" name="material_medium" id="material_medium" required>
                <br>
                <label for="date">Date</label>
                <input type="date" name="date" id="date" required>
                <br>
                <label for="info_short_desc">Short Description</label>
                <input type="text" name="info_short_desc" id="info_short_desc" required>
                <br>
                <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                    <input type="file" class="form-control" name="image">
                </div>
                <button type="submit">Create Installation</button>
            </form>

            <!-- Delete Installation Form -->
            <h2>Delete Installation</h2>
            <form action="/installation/delete" method="POST">
                <label for="id">Installation ID:</label>
                <input type="number" name="id" id="id" required>
                <br>
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete Installation</button>
            </form>
            <br> <br>
            <form action="/admin/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        <% } %>
    </body>
</html>