<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Give us feedback!</title>
</head>
<body>
    Hello there.  Please give us feedback.  Be nice.  We're graded based on your responses.
    
    <br>
    <div class="form-group">
    	<label for="par1">Paragraph response 1</label>
    	<textarea class="form-control" id="par1" rows="3"><textarea>
    	
    	<label for="par2">Paragraph response 2</label>
    	<textarea class="form-control" id="par2" rows="3"><textarea>
    	
    	<label for="par3">Paragraph response 3</label>
    	<textarea class="form-control" id="par3" rows="3"><textarea>
    	
    	<label for="par4">Paragraph response 4</label>
    	<textarea class="form-control" id="par4" rows="3"><textarea>
    </div>
</body>
<html>
