<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gund Gallery Immersion Experience</title>
    </head>
    <body>
        This is the user homepage.  We're sorry it's so basic but we were shooting for a Minimum Viable Product here.
        <br>Please imagine this in bright flashing colors with animated text marching around the screen.
        <div id="QR">
        <h3>Click the QR code to see a basic sample survey we'll send to users about each work of art:</h3>
        <a display: inline-block;
        position: relative;
        z-index: 1; href="/visitorSurvey">
            <span display: inline-block;>
                <object position: relative; 
                z-index: -1 data="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png?width=300">
                </object>
            </span>
        </a>
        </div>
    </body>
</html>