/* CSS for the visitorSurvey/ClientIntake page. */

/* set the background of the page to be gund gallery */
body {
  background-size: cover;
  color: #242331;
  max-height:100vh;
  height: 100vh;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-decoration: none; /* Remove the underline from the link */
}

.card:hover {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.menu {
  background-color: #F4F3EE; 
  color: black;
}

.header{
  color: #242331;
  background-color: #F4F3EE;
  border-radius: 4px;
}